[Unit]
Description=Dashboard Proxy
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/script/dashboard/dashboard-proxy.sh

[Install]
WantedBy=multi-user.target
