[Unit]
Description=Dashboard Proxy
After=network.target

[Service]
Type=simple
ExecStart=/etc/systemd/system/kube.dashboard/dashboard-proxy.sh

[Install]
WantedBy=multi-user.target
